.blue-block {
    font-family: 'Roboto', sans-serif;
    background-color: #0A2540;
    height: 585px;
    display: flex;
    padding-top: 150px;
    width: auto;
    @media screen and (max-width: 1380px){
        margin-top: 850px;
        height: 585px;
        
    }
    @media screen and (max-width: 1316px){
        width:1290px;
        
    }
    
    @media screen and (max-width: 400px){
        margin-top: 850px;
        height: 805px;
        display: block;
        width: 740px;
        
    }

    &__text {
        margin-right: 113px;
        margin-left: 179px;
        @media screen and (max-width: 400px){
            display: block;
            margin-left: 0px;
            margin-bottom: 20px;
            
        }
    
        &__logo {
            color: #00CA90;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 0px;
        }

        &__title {

            font-style: normal;
            font-weight: 400;
            font-size: 42px;
            line-height: 56px;
            color: #FFFFFF;
            margin-top: 5px;
            margin-bottom: 0px;
        }

        &__info {
            margin-top: 20px;
            width: 519px;
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: rgba(255, 255, 255, 0.65);
        }

        &__button {
            display: flex;
            @media screen and (max-width: 320px){
                
                display: block;
                
                
            }
            &__btn {
                margin-right: 15px;
            }
        }
    }


}