@import './variables.scss';

.useCases {
    padding-top: 150px;
    width: auto;
    height: 1786px;
    background-color: #FBFCF5;

    &__top {
        text-align: center;
        width: 872px;
        margin-left: 284px;
    }

    &__bottom {
        margin-top: 75px;
        margin-left: 175px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    &__bottom_2 {
        text-align: center;
        width: 894px;
        margin-top: 100px;
        margin-left: 273px;
    }
}